<div class="backdrop is-hidden camera__backdrop details__backdrop">
  <div class="details">
    <button type="button" class="details__btn camera__details">
      <svg class="details__icon" width="18" height="18">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="details__text">
      Bezpečnostní a kamerové systémy nabízí téměř neomezené možnosti. Buď doma, i když nejsi. Když
      jsou všechny vaše bezpečnostní kamery připojeny k chytré bezpečnostní aplikaci, můžete vidět,
      co se děje kdekoli a kdykoli. Ať už chráníte svůj domov,firmu,zaměstnance, kontrolujete děti
      po škole, hlídáte své domácí mazlíčky nebo vše výše uvedené, vědět kdo klepe 24/7-365 dní v
      roce. Už se nikdy nebudete divit, kdo je za dveřmi, a můžete sledovat doručování vašich
      balíků. S kamerou HD video zvonek můžete vidět, slyšet a mluvit s kýmkoli u vašich předních
      dveří z pohodlí vašeho telefonu pomocí applikace. Chrání proti:
    </p>
    <ul class="details__list">
      <li class="details__item">
        <p class="item__text">Vloupání</p>
      </li>
      <li class="details__item">
        <p class="item__text">Požáru (detektory teploty a kouře)</p>
      </li>
      <li class="details__item">
        <p class="item__text">Vandalismu (graffiti a jiné škody)</p>
      </li>
      <li class="details__item">
        <p class="item__text">Přepadení personálu (pobočky, prodejny)</p>
      </li>
      <li class="details__item">
        <p class="item__text">Vnitřní kriminalitě (krádeže zaměstnanců)</p>
      </li>
      <li class="details__item">
        <p class="item__text">Úniku plynu (oxid uhelnatý – CO)</p>
      </li>
      <li class="details__item">
        <p class="item__text">Zaplavení (havárie vody)chrání proti</p>
      </li>
    </ul>
  </div>
</div>
