<div class="backdrop is-hidden cleaning__backdrop details__backdrop">
  <div class="details">
    <button type="button" class="details__btn" data="cleaningDetails">
      <svg class="details__icon" width="18" height="18">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="details__text">
      Víme přesně, jaké prostředky kdy použít, sledujeme vývoj nejnovějších technologií, známe
      všechny hygienické předpisy. A víme také, jak je pro vás – stejně jako pro nás – důležité
      soukromí, dodržování dohodnutých pravidel, spolehlivost a kvalitně odvedená práce.
    </p>
    <ul class="details__list">
      <li class="details__item">
        <p class="item__text">Úklid po Veřejné/soukromé kulturní Akci eventu.</p>
      </li>
      <li class="details__item">
        <p class="item__text">Pokojská - rutinní úklid interiéru vašeho domova.</p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Jednorázový úklid interiéru – jarní úklid interiéru, prázdninový úklid atd.
        </p>
      </li>
      <li class="details__item">
        <p class="item__text">Úklidové služby pro firmy - rutinní úklid vnitřních prostor budov.</p>
      </li>
      <li class="details__item">
        <p class="item__text">Čištění po stavbě – Důkladné čištění po stavbě.</p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Disponujeme vysavačem pro speciální provozy - do výbušného prostředí
        </p>
      </li>
    </ul>
  </div>
</div>
