<div class="backdrop is-hidden guard__backdrop details__backdrop">
  <div class="details">
    <button type="button" class="details__btn guard__details">
      <svg class="details__icon" width="18" height="18">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="details__text">
      Soukromé bezpečnostní služby agentury C.B.P. SECURITY jsou navrženy jako skutečně efektyvní
      balík veškerých služeb spojených s bezpečností, které jsme schopni zajistit na celém území ČR.
      Bezpečnostní služba C.B.P. SECURITY partner na kterého se mohou stoprocentně spolehnout ve
      všech oblastech.
    </p>
    <ul class="details__list">
      <li class="details__item">
        <p class="item__text">Fyzická bezpečnostní služba</p>
      </li>
      <li class="details__item">
        <p class="item__text">Event security a pořadatelská činnost</p>
      </li>
      <li class="details__item">
        <p class="item__text">Ostraha se psem</p>
      </li>
      <li class="details__item">
        <p class="item__text">Vrátné služby</p>
      </li>
      <li class="details__item">
        <p class="item__text">Mobilní patrola</p>
      </li>
      <li class="details__item">
        <p class="item__text">Ostraha objektů</p>
      </li>
      <li class="details__item">
        <p class="item__text">Bodyguarding</p>
      </li>
      <li class="details__item">
        <p class="item__text">Osobní ochránce</p>
      </li>
      <li class="details__item">
        <p class="item__text">VIP ochranka</p>
      </li>
      <li class="details__item">
        <p class="item__text">Bezpečnostní doprovody dětí do školy</p>
      </li>
      <li class="details__item">
        <p class="item__text">Executive protection</p>
      </li>
    </ul>
  </div>
</div>
