<div class="backdrop is-hidden hostess__backdrop details__backdrop">
  <div class="details">
    <button type="button" class="details__btn" data="hostessDetails">
      <svg class="details__icon" width="18" height="18">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="details__text">
      Zajistíme Vám atraktivní profesionální hostesky hovořící několika světovými jazyky pro Vaše
      obchodní, společenské a kulturní akce na území celé ČR
    </p>
    <ul class="details__list">
      <li class="details__item">
        <p class="item__text">Prezentace výrobků a služeb.</p>
      </li>
      <li class="details__item">
        <p class="item__text">Prezentace nových výrobků na trh, ochutnávky, rozdávání letáčků.</p>
      </li>

      <li class="details__item">
        <p class="item__text">Konference a event akce.</p>
      </li>
      <li class="details__item">
        <p class="item__text">Tiskové konference, firemní večírky, slavnostní zahájení.</p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Roadshow akce, na podporu prodeje po celé ČR s promovanými produkty.
        </p>
      </li>
      <li class="details__item">
        <p class="item__text">Dotazování na zkušenosti s produkty.</p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Zvýšení prodejů nebo povědomí o značce (slevy, prodejní akce, soutěže).
        </p>
      </li>
    </ul>
  </div>
</div>
