<div class="backdrop is-hidden monitoring__backdrop details__backdrop">
  <div class="details">
    <button type="button" class="details__btn monitoring__details">
      <svg class="details__icon" width="18" height="18">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="details__text">
      PCO – pult centrální ochrany, prostřednictvím kterého na dálku 24/7 monitorujeme a
      vyhodnocujeme poplachové signály. Nebezpečí krádeže vzniku požáru atd . Jaké benefity vám
      dohledové centrum / PCO poskytne?
    </p>
    <ul class="details__list">
      <li class="details__item">
        <p class="item__text">
          Spolehlivou ochranu, nepřetržitý dohled nad vaším objektem a klid v duši 24 / 7 / 365
        </p>
      </li>
      <li class="details__item">
        <p class="item__text">Prevenci kriminality a snížení potenciálních rizik</p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Spolupráce s Policií ČR a složkami IZS v případě mimořádných událostí
        </p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Vhodné pro všechny druhy objektů (od domů až po velké průmyslové areály)
        </p>
      </li>
      <li class="details__item">
        <p class="item__text">Službu zajištěnou profesionálně vyškolenými operátory</p>
      </li>
    </ul>
    <p class="details__text">
      Potřebujete na zimu nebo dočasně zabezpečit chalupu? Odjíždíte na dovolenou a obáváte se o
      svůj byt či dům? Již nemusíte. Jak alarm do bytu / Chalupy
    </p>
    <ul class="details__list">
      <li class="details__item">
        <p class="item__text">
          Jedná se o přenosné zařízení s integrovaným bezdrátovým zabezpečením
        </p>
      </li>
      <li class="details__item">
        <p class="item__text">Je napojené na dohledové centrum</p>
      </li>
      <li class="details__item">
        <p class="item__text">
          Instalace alarmu trvá několik minut a je k ní zapotřebí pouze elektřina
        </p>
      </li>
    </ul>
  </div>
</div>
