.header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--primary-background-color);
    border-bottom: 3px solid var(--secondary-background-color);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-list {
    display: none;
}

.header_contact-link {
    display: none;
}

.nav_list {
    display: none;
}

.mobile-menu-button {
    border: none;
    background-color: var(--primary-background-color);
}

.mobile-menu-button_icon {
    fill: var(--secondary-background-color);
}