<section class="section background" id="contact">
  <div class="container">
    <h2 class="section__title active">Kontaktujte nás</h2>
    <ul class="contact-list">
      <li class="contact-list__item">
        <ul class="contact-info">
          <li class="contact-info__item">
            <svg class="contact-list__icon" width="25" height="25">
              <use href="../images/symbol-defs.svg#icon-calendar-lines"></use>
            </svg>
            <div>
              <p class="contact-list__text">La bella MonaLisa s.r.o.</p>
              <p class="contact-list__text">IČO: 07530048</p>
              <p class="contact-list__text">SCHRÁNKA: ep5k6dt</p>
              <p class="contact-list__text">DIČ: CZ07530048</p>
              <p class="contact-list__text">
                Adresa: <br />
                U plynárny 131/16, Michle (Praha 4), 140 00 Praha
              </p>
            </div>
          </li>
          <li class="contact-info__item">
            <svg class="contact-list__icon" width="25" height="25">
              <use href="../images/symbol-defs.svg#icon-envelope"></use>
            </svg>
            <a href="mailto: cpbsecurity@email.cz" class="contact-list__link"
              >cpbsecurity@email.cz</a
            >
          </li>
          <li class="contact-info__item">
            <svg class="contact-list__icon" width="25" height="25">
              <use href="../images/symbol-defs.svg#icon-phone-call"></use>
            </svg>
            <a href="tel:+420774743780" class="contact-list__link">+420 774743780</a>
          </li>
        </ul>
      </li>
      <li class="contact-list__item google-wrapper">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d327259.6132679169!2d14.560653!3d50.1477496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b9309850185a3%3A0xe055e673be75dfd3!2sCPB%20Security%20s.r.o.!5e0!3m2!1scs!2scz!4v1680465622716!5m2!1scs!2scz"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
    </ul>
  </div>
</section>
