<!--Footer-->
<footer class="footer">
  <div class="container footer-container">
    <div class="footer-button">
      <button class="hero__button" type="button" data-modal-open-footer>KONTAKTUJTE NÁS</button>
    </div>
    <div class="join">
      <p class="join__title">Sledujte nás</p>
      <ul class="join__list">
        <li class="join__item">
          <a target="_blank" href="https://www.instagram.com/cpbsecurity/" class="join__link"
            ><svg height="30" width="30" class="social-list__icon">
              <use href="../images/symbol-defs.svg#icon-instagram-1"></use>
            </svg>
          </a>
        </li>
        <li class="join__item">
          <a
            href="https://www.facebook.com/profile.php?id=100084510293669"
            target="_blank"
            class="join__link"
            ><svg height="30" width="30" class="social-list__icon">
              <use href="../images/symbol-defs.svg#icon-facebook-1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--/Footer-->
