<!--Footer-->
<footer class="footer">
  <div class="container footer-container">
    <div class="footer-contact">
      <address class="address">
        <ul class="address-list">
          <li class="address-list__item">
            <a
              href="https://goo.gl/maps/4vPcKP6WjWafDqh37"
              target="_blank"
              title="Open in Google maps"
              rel="nofollow noreferrer noopener"
              class="address-list__link"
              >36001, Karlovy Vary Mattoniho nabrezi 697</a
            >
          </li>
          <li class="address-list__item">
            <a href="mailto: cpbsecurity@email.cz" class="address-list__link"
              >Email: cpbsecurity@email.cz</a
            >
          </li>
          <li class="address-list__item">
            <a href="tel:+380991111111" class="address-list__link">tel:+380991111111</a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-button">
      <button class="hero__button" type="button" data-modal-open-footer>KONTAKTUJTE MĚ</button>
    </div>
    <div class="join">
      <p class="join__title">Přidejte se</p>
      <ul class="join__list">
        <li class="join__item">
          <a target="_blank" href="https://www.instagram.com/cpbsecurity/" class="join__link"
            ><svg height="40" width="40" class="social-list__icon">
              <use href="../images/symbol-defs.svg#icon-instagram-1"></use>
            </svg>
          </a>
        </li>
        <li class="join__item">
          <a href="" class="join__link"
            ><svg height="40" width="40" class="social-list__icon">
              <use href="../images/symbol-defs.svg#icon-facebook-1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--/Footer-->
