<div class="backdrop__formular is-hidden">
  <div class="modal" data-menuf>
    <button type="button" class="modal__close" data-menu-closef>
      <svg class="modal__icon" width="18" height="18">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <form class="contact-form" id="formular-form">
      <p class="contact-form__title">Zájem o práci</p>
      <label class="contact-form__label">
        <span class="contact-form__text">Jméno a Přijmení</span>
        <span class="contact-form__block">
          <input
            type="text"
            class="contact-form__input"
            name="name"
            required
            autofocus
            placeholder="Martin Luther"
          />
        </span>
      </label>
      <label class="contact-form__label"
        ><span class="contact-form__text">Telefon</span>
        <span class="contact-form__block"
          ><input
            type="tel"
            class="contact-form__input"
            name="tel"
            required
            placeholder="+420 ___ ___ ___"
          />
        </span>
      </label>
      <label class="contact-form__label">
        <span class="contact-form__text">Email</span>
        <span class="contact-form__block"
          ><input
            type="email"
            class="contact-form__input"
            name="email"
            required
            placeholder="Email"
          />
        </span>
      </label>
      <label class="contact-form__label">
        <span class="contact-form__text">O jakou pozici máte zájem?</span>
        <span class="contact-form__block"
          ><input type="text" class="contact-form__input" name="profession" />
        </span>
      </label>
      <label class="contact-form__label">
        <span class="contact-form__text">Lokalita výkonu práce</span>
        <span class="contact-form__block"
          ><input type="text" class="contact-form__input" name="location" />
        </span>
      </label>
      <label class="contact-form__label last">
        <span class="contact-form__text">Vaše zpráva (optional)</span>
        <textarea class="contact-form__message" name="message" placeholder="Začnete psat">
        </textarea>
      </label>
      <a
        class="contact-form__text"
        href="https://www.freeprivacypolicy.com/live/22bafdef-3d9b-4d12-be00-0a6b86ddcebe"
        >Stisknutim souhlasíte se zpracováním osobních údajů</a
      >
      <button type="submit" class="contact-form__button">Odeslat</button>
    </form>
  </div>
</div>
