<section class="section background" id="galerie">
  <div class="container">
    <h2 class="section__title active">Galerie</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
