<!-- Mobile menu -->
<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <button class="mobile-menu__button" type="button" data-menu-close>
      <svg class="mobile-menu__icon-close" height="19px" width="19px">
        <use href="../images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="nav-field">
      <nav class="mobile-nav">
        <ul class="mobile-nav__list">
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#hero" target="_self">Domů</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#our_services">Naše Služby</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#contact">Kontakt</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#career">Kariéra</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="contact-field">
      <ul class="mobile-social-list">
        <li class="mobile-social-list__item">
          <a
            class="mobile-social-list__link"
            href="https://www.instagram.com/cpbsecurity/"
            target="_blank"
          >
            <svg class="mobile-social-list__icon" height="30" width="30">
              <use href="../images/symbol-defs.svg#icon-instagram-1"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list__item">
          <a
            class="mobile-social-list__link"
            href="https://www.facebook.com/profile.php?id=100084510293669"
            target="_blank"
          >
            <svg class="mobile-social-list__icon" height="30" width="30">
              <use href="../images/symbol-defs.svg#icon-facebook-1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Mobile menu -->
