<section class="section background" id="our_services">
  <div class="container">
    <h2 class="section__title">Naše Služby</h2>
    <ul class="cards-list">
      <li class="cards-list__item">
        <a href="./partials/security_services.html" class="cards-list__link" target="_blank">
          <div class="cards-list__picture-box">
            <picture>
              <source
                srcset="../images/cards1@1x.webp 1x, ../images/cards1@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="../images/cards1@1x.jpg 1x, ../images/cards1@2x.jpg 2x" />
              <img src="../images/cards1@1x.jpg" alt="security guard" class="cards-list__img" />
            </picture>
          </div>
          <h3 class="cards-list__title">Bezpečnostní služby</h3>
        </a>
      </li>
      <li class="cards-list__item">
        <a href="" class="cards-list__link">
          <div class="cards-list__picture-box">
            <picture>
              <source
                srcset="../images/cards3@1x.webp 1x, ../images/cards3@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="../images/cards3@1x.jpg 1x, ../images/cards3@2x.jpg 2x" />
              <img src="../images/cards3@1x.jpg" alt="security camera" class="cards-list__img" />
            </picture>
          </div>
          <h3 class="cards-list__title">Zabezpečovací a kamerové systémy</h3>
        </a>
      </li>
      <li class="cards-list__item">
        <a href="" class="cards-list__link">
          <div class="cards-list__picture-box">
            <picture>
              <source
                srcset="../images/cards2@1x.webp 1x, ../images/cards2@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="../images/cards2@1x.jpg 1x, ../images/cards2@2x.jpg 2x" />
              <img
                src="../images/cards2@1x.jpg"
                alt="security monitoring"
                class="cards-list__img"
              />
            </picture>
          </div>
          <h3 class="cards-list__title">Monitoring objektů PCO</h3>
        </a>
      </li>
      <li class="cards-list__item">
        <a href="" class="cards-list__link">
          <div class="cards-list__picture-box">
            <picture>
              <source
                srcset="../images/cards4@1x.webp 1x, ../images/cards4@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="../images/cards4@1x.jpg 1x, ../images/cards4@2x.jpg 2x" />
              <img src="../images/cards4@1x.jpg" alt="cleaning work" class="cards-list__img" />
            </picture>
          </div>
          <h3 class="cards-list__title">Úklidové služby</h3>
        </a>
      </li>
      <li class="cards-list__item">
        <a href="" class="cards-list__link">
          <div class="cards-list__picture-box">
            <picture>
              <source
                srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
              <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img" />
            </picture>
          </div>
          <h3 class="cards-list__title">Hostesky</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
