<section class="section background" id="our_services">
  <div class="container">
    <h2 class="section__title active">Naše Služby</h2>
    <ul class="cards-list">
      <li class="cards-list__item guard">
        <div class="cards-list__picture-box">
          <picture>
            <source
              srcset="../images/cards1@1x.webp 1x, ../images/cards1@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards1@1x.jpg 1x, ../images/cards1@2x.jpg 2x" />
            <img src="../images/cards1@1x.jpg" alt="security guard" class="cards-list__img guard" />
          </picture>
        </div>
        <h3 class="cards-list__title guard">Bezpečnostní služby</h3>
      </li>
      <li class="cards-list__item camera">
        <div class="cards-list__picture-box">
          <picture>
            <source
              srcset="../images/cards3@1x.webp 1x, ../images/cards3@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards3@1x.jpg 1x, ../images/cards3@2x.jpg 2x" />
            <img
              src="../images/cards3@1x.jpg"
              alt="security camera"
              class="cards-list__img camera"
            />
          </picture>
        </div>
        <h3 class="cards-list__title camera">Zabezpečovací a kamerové systémy</h3>
      </li>
      <li class="cards-list__item monitoring">
        <div class="cards-list__picture-box">
          <picture>
            <source
              srcset="../images/cards2@1x.webp 1x, ../images/cards2@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards2@1x.jpg 1x, ../images/cards2@2x.jpg 2x" />
            <img
              src="../images/cards2@1x.jpg"
              alt="security monitoring"
              class="cards-list__img monitoring"
            />
          </picture>
        </div>
        <h3 class="cards-list__title monitoring">Monitoring objektů PCO</h3>
      </li>
      <li class="cards-list__item cleaning">
        <div class="cards-list__picture-box">
          <picture>
            <source
              srcset="../images/cards4@1x.webp 1x, ../images/cards4@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards4@1x.jpg 1x, ../images/cards4@2x.jpg 2x" />
            <img
              src="../images/cards4@1x.jpg"
              alt="cleaning work"
              class="cards-list__img cleaning"
            />
          </picture>
        </div>
        <h3 class="cards-list__title cleaning">Úklidové služby</h3>
      </li>
      <li class="cards-list__item hostess">
        <div class="cards-list__picture-box">
          <picture>
            <source
              srcset="../images/cards5@1x.webp 1x, ../images/cards5@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/cards5@1x.jpg 1x, ../images/cards5@2x.jpg 2x" />
            <img src="../images/cards5@1x.jpg" alt="hostess" class="cards-list__img hostess" />
          </picture>
        </div>
        <h3 class="cards-list__title hostess">Hostesky</h3>
      </li>
    </ul>
  </div>
</section>
