.hero {
  text-align: left;

  background-color: var(--primary-background-color);
}

.hero__box {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero_background-field {
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-image: url(../../images/back_hero_mobile.jpg);
  background-position: center;
  background-color: var(--primary-background-color);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/back_hero_mobile_2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/back_hero_tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/back_hero_tablet@x2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/back_hero_desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/back_hero_desktop@2x.jpg);
    }
  }
}

.subtitle {
  font-family: var(--primary-font-family);
  @include text(900, 24px, 1.62, 0.06em);
  text-align: left;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  position: relative;
}

.hero__button {
  font-family: inherit;
  @include text(700, 16px, 1.88, 0.06em);
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
  border-width: 0;
  transition: color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
