.background {
  background-color: var(--primary-background-color);
}

.card-list {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.cards-list__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.cards-list__item {
  padding: 8px;
  border: 1px solid rgba(54, 54, 32, 0.8);
  box-shadow: 3px 3px 3px rgba(49, 49, 47, 0.12), 3px 3px 3px rgba(49, 49, 47, 0.12),
    3px 3px 3px rgba(49, 49, 47, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.cards-list__subitem {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.cards-list__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.cards-list__box {
  padding-top: 10px;
}
